# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.venv/
venv/
env/

# Logs and Data
*.log
*.sqlite
*.db
*.csv
*.json
*.xlsx
*.xls

# Model files
*.joblib
*.pkl
*.zip

# IDE
.idea/
.vscode/
*.swp